body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0px;
}

button {
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    width: 130px;
    height: 35px;
}

/* ------- TOP SECTION -------- */

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 15px;
}

.header {
    display: flex;
    justify-content: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    flex: none;
}

.header-links {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 770px;
}

.header-links a {
    font-size: 18px;
    color: #aaaaaa;
    flex: none;    
    text-decoration: none;
}

.hover-text {
  display: none; /* Hide the hover text initially */
}

.hover-container:hover .default-text {
  display: none; /* Hide the default text on hover */
}

.hover-container:hover .hover-text {
  display: inline; /* Show the hover text on hover */
}


.top-text p {
    font-size: 18px;
    color: #aaaaaa;    
    margin: 20px 0px;
}

.top {
    display: flex;
    padding: 40px 0px 80px 0px;
    gap: 140px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.top-text {
    align-self: flex-end;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 15px 0px;
}

.icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.main-image {
    width: 320px;
    flex: none;
    border-radius: 20px;
    outline: solid white 3px;
}

/* ------- MIDDLE SECTION -------- */

.middle {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 100px 0px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 50px;
    margin: 0px;
}

figure {
    width: 180px;
    margin: 0px;
}

figure img {
    outline: solid 3px #3882f6;
    border-radius: 15px;
    width: 180px;
    height: 180px;
    flex: none;
}

figcaption {
    text-align: center;
    font-size: 18px;
    color: grey;
    padding: 5px 0px;
}

.categories {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Quote section */
.quote-container {
    background-color: #e5e7eb;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 100px 0px;
}

.quote {
    max-width: 750px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    margin: auto;
}

.source {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    max-width: 750px;
    margin: auto;
}

.action {
    display: flex;
    margin: 80px 100px;
    background-color: #3882f6;
    border-radius: 10px;  
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    color: white;
    font-weight: bold;
    margin: 0px;
    font-size: 24px;
}

.action p {
    color: rgb(238, 238, 238);
    margin: 0px;
    font-size: 18px;
}

.action button {
    background-color: #3882f6;
    color: white;
    border-style: none;
    outline: 2px solid white;
    flex: none;
}

footer {
    color: rgb(194 194 194);
    margin: 0px;
    font-size: 18px;
    background-color: #1f2937;
    padding: 40px;
    text-align: center;
}